In [15]:
import pandas as pd

In [58]:
df = pd.read_csv('files/final_chat.csv', sep=';', header=None, names=['date', 'time', 'author', 'message'])

In [59]:
# Clean up the 'date' column by removing non-numeric characters
df['date'] = df['date'].str.replace('[^0-9/]', '', regex=True)

# Convert the 'date' column to pandas datetime format
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y', errors='coerce')

# Convert the 'time' column to pandas datetime format
df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S', errors='coerce').dt.time

In [60]:
df

,date,time,author,message
0,2021-10-18,16:53:02,escolinha,As mensagens e as chamadas são protegidas com ...
1,2021-10-18,16:53:02,Cerbino,Cerbino mudou o nome do grupo para “Silêncio m...
2,2021-10-18,16:54:39,Cerbino,Cerbino foi adicionado(a)
3,2021-10-18,16:54:39,vitin,vitin foi adicionado(a)
4,2021-10-18,16:54:39,Marco,Marco foi adicionado(a)
...,...,...,...,...
107431,2023-08-04,15:24:24,Alencar,To na merda mano
107432,2023-08-04,15:24:29,Alencar,Estômago pesado
107433,2023-08-04,15:24:31,Alencar,Cabeca doendo
107434,2023-08-04,15:24:34,Alencar,Vtnc
107435,2023-08-04,15:24:40,Vesgo,Kkkkkkkk

In [61]:
#the rank of author with most messages

rank = df['author'].value_counts()
rank

Alencar                  35869
Julin                    10766
Renzo Menezes             8983
Cerbino                   8483
Vinisso                   7102
João Bizzo                7013
Rafael Pedreiro           4450
Caio                      3854
Motinha                   3585
Perna                     3384
Big C                     3038
 vitin                    2388
Brago                     1877
 Marco                    1767
 Rafael                   1358
NOVO MARCO NOVO HOMEM     1009
Almeida                    960
Rivers cavalasso           623
Vesgo                      621
 Felps                     181
 Leonardo El Madi           78
escolinha                   37
Você                         2
Name: author, dtype: int64

In [63]:
df['author'].value_counts()

Alencar                  35869
Julin                    10766
Renzo Menezes             8983
Cerbino                   8483
Vinisso                   7102
João Bizzo                7013
Rafael Pedreiro           4450
Caio                      3854
Motinha                   3585
Perna                     3384
Big C                     3038
 vitin                    2388
Brago                     1877
 Marco                    1767
 Rafael                   1358
NOVO MARCO NOVO HOMEM     1009
Almeida                    960
Rivers cavalasso           623
Vesgo                      621
 Felps                     181
 Leonardo El Madi           78
escolinha                   37
Você                         2
Name: author, dtype: int64